<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Club| GUDLFT Club points</title>
    </head>
    <body>
    <h2>Club Points</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <table>
    <tr>
        <td><strong>Club name</strong></td>
        <td><strong>Total Points</strong></td>
        <td><strong>Points Available</strong></td>
    </tr>
    {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td>{{ club['points'] }}</td>
            <td>{{ club['points']|int - club['totalPointsUsed']|int }}</td>
        </tr>
    {% endfor %}
    </table>

    </body>
</html>