<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Club| GUDLFT Club points</title>
    </head>
    <body>
    <h2>Club Points</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <table>
    <tr>
        <th>Club name</th>
        <th style=""><strong>Total points used</strong></th>
        <th><strong>Points available</strong></th>
    </tr>
    {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td style="text-align:center">{{ club['totalPointsUsed'] }}</td>
            <td style="text-align:center">{{ club['points']|int }}</td>
        </tr>
    {% endfor %}
    </table>

    </body>
</html>