<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Club| GUDLFT Club points</title>
    </head>
    <body>
    <h2>Club Points</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h3>{{ competition['name'] }} Competition</h3>
    <table>
    <tr>
        <td><strong>Club name</strong></td>
        <td><strong>No. of place reserved</strong></td>
    </tr>
    {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td style="text-align:center">
                {% if competition['name'] in club['noOfPlacesBookedOnCompetitions'] %}
                    {% for comp, point in club['noOfPlacesBookedOnCompetitions'].items() %}
                        {% if comp == competition['name']  %}
                            {{ point }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    </body>
</html>